.btn{
    background: #333;
    color: #fff;
    border: none;
    border-radius: 15px;   
    padding: 1.5vh 4vh; 
    cursor: pointer;
    font-weight: bold;
    transition: all .5s;
}

.btn:hover{
    background: rgb(89, 153, 250);
}